# Ignore model files
*.h5
*.pb
*.onnx
saved_model/

# Ignore dataset images (optional, if you don't want to track them)
dataset/unclassified/
dataset/new/
dataset/wanted/
dataset/unwanted/
dataset/train/
dataset/test/

# Ignore logs and cache
logs/
*.log
*.csv
*.json
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore virtual environment
venv/
.env
*.venv

# Ignore system files
.DS_Store
Thumbs.db
